<div class="row">
	<form class="form-horizontal" role="form">

		<div class="form-group">
			<label class="col-xs-4 control-label">Имя</label>
			<div class="col-xs-8">
				<input type="text" class="form-control" ng-model="student.firstName">
			</div>
		</div>

		<div class="form-group">
			<label class="col-xs-4 control-label">Фамилия</label>
			<div class="col-xs-8">
				<input type="text" class="form-control" ng-model="student.lastName">
			</div>
		</div>

		<div class="form-group">
			<label class="col-xs-4 control-label">Тайтл</label>
			<div class="col-xs-8">
				<input type="text" class="form-control" ng-model="student.title">
			</div>
		</div>

		<div class="form-group">
			<label class="col-xs-4 control-label">Праймари скилл</label>
			<div class="col-xs-8">
				<input type="text" class="form-control" ng-model="student.primarySkill">
			</div>
		</div>

		<div class="form-group">
			<button class="col-xs-push-4 btn btn-primary relative" style="margin-left: 15px" ng-click="action();">Сохранить</button>
		</div>

	</form>
</div>